# Klipper TMC Autotune
# https://github.com/andrewmcgr/klipper_tmc_autotune
# tuning_goal: [performance, silent]
# extra_hysteresis: 0 to 8


[motor_constants fysetc-17hs19-2004s-c]
# Coil resistance, Ohms
resistance: 1.40
# Coil inductance, Henries
inductance: 0.003
# Holding torque, Nm
holding_torque: 0.59
# Nominal rated current, Amps
max_current: 2.00
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[motor_constants fysetc-42hc40-204a-300n84]
# Coil resistance, Ohms
resistance: 1.10
# Coil inductance, Henries
inductance: 0.0026
# Holding torque, Nm
holding_torque: 0.45
# Nominal rated current, Amps
max_current: 2.00
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: fysetc-17hs19-2004s-c
tuning_goal: performance
extra_hysteresis: 0
# 0.7A, homing_speed: 40, 1000mm2, max 130, min 80
sg4_thrs: 97
[autotune_tmc stepper_y]
motor: fysetc-17hs19-2004s-c
tuning_goal: performance
extra_hysteresis: 0
# 0.7A, homing_speed: 40, 1000mm2, max 123, min 78
sg4_thrs: 95

[autotune_tmc stepper_z]
motor: fysetc-42hc40-204a-300n84
tuning_goal: silent
[autotune_tmc stepper_z1]
motor: fysetc-42hc40-204a-300n84
tuning_goal: silent
[autotune_tmc stepper_z2]
motor: fysetc-42hc40-204a-300n84
tuning_goal: silent

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: performance